<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="priv.wzq.ssm.mapper.ZbitemMapper" >
  <resultMap id="BaseResultMap" type="priv.wzq.ssm.po.Zbitem" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="zj" property="zj" jdbcType="INTEGER" />
    <result column="ks" property="ks" jdbcType="INTEGER" />
    <result column="schoolNumber" property="schoolnumber" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, zj, ks, schoolNumber
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="priv.wzq.ssm.po.ZbitemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from zbitem
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from zbitem
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from zbitem
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="priv.wzq.ssm.po.ZbitemExample" >
    delete from zbitem
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="priv.wzq.ssm.po.Zbitem" >
    insert into zbitem (id, zj, ks, schoolNumber
      )
    values (#{id,jdbcType=INTEGER}, #{zj,jdbcType=INTEGER}, #{ks,jdbcType=INTEGER}, #{schoolnumber,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="priv.wzq.ssm.po.Zbitem" >
    insert into zbitem
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="zj != null" >
        zj,
      </if>
      <if test="ks != null" >
        ks,
      </if>
      <if test="schoolnumber != null" >
        schoolNumber,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="zj != null" >
        #{zj,jdbcType=INTEGER},
      </if>
      <if test="ks != null" >
        #{ks,jdbcType=INTEGER},
      </if>
      <if test="schoolnumber != null" >
        #{schoolnumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="priv.wzq.ssm.po.ZbitemExample" resultType="java.lang.Integer" >
    select count(*) from zbitem
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update zbitem
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.zj != null" >
        zj = #{record.zj,jdbcType=INTEGER},
      </if>
      <if test="record.ks != null" >
        ks = #{record.ks,jdbcType=INTEGER},
      </if>
      <if test="record.schoolnumber != null" >
        schoolNumber = #{record.schoolnumber,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update zbitem
    set id = #{record.id,jdbcType=INTEGER},
      zj = #{record.zj,jdbcType=INTEGER},
      ks = #{record.ks,jdbcType=INTEGER},
      schoolNumber = #{record.schoolnumber,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="priv.wzq.ssm.po.Zbitem" >
    update zbitem
    <set >
      <if test="zj != null" >
        zj = #{zj,jdbcType=INTEGER},
      </if>
      <if test="ks != null" >
        ks = #{ks,jdbcType=INTEGER},
      </if>
      <if test="schoolnumber != null" >
        schoolNumber = #{schoolnumber,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="priv.wzq.ssm.po.Zbitem" >
    update zbitem
    set zj = #{zj,jdbcType=INTEGER},
      ks = #{ks,jdbcType=INTEGER},
      schoolNumber = #{schoolnumber,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>